@import "../style";

.cryptocurrencies {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 42px 56px;
  border-radius: 40px;
  grid-area: 1 / 1 / 2 / 13;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;

    &_mt-22 {
      margin-top: 22px;
    }

    &.active {
      @for $i from 1 through 8 {
        .cryptocurrencies__item {
          &:nth-child(#{$i}) {
            & > img {
              animation-delay: $i * (8s / 25);
            }

            & .cryptocurrencies__item-name {
              animation-delay: $i * (8s / 25);
            }
          }

          & > img {
            animation: .375s scaleCryptocurrencies ease-in forwards;
          }

          &-name {
            animation: .375s changeTextColor ease-in forwards;
          }
        }
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    flex-shrink: 0;

    & > img {
      width: 96px;
      height: 96px;
    }

    &-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      text-transform: uppercase;
      color: $dark-40;
    }
  }
}