@import "../style";

.start-crypto-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 79px 56px 42px;
  border-radius: 40px;
  grid-area: 2 / 1 / 3 / 6;

  &__up {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    position: relative;
  }

  &__create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 18px 39px;
    width: 223px;
    border-radius: 17px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    color: $dark;
    background: $dark-blue-linear;

    &.active {
      animation: 1s bot-button-create ease;
      animation-delay: .75s;
    }

    & > img {
      width: 21px;
    }
  }

  &__arrow-btn {
    position: absolute;
    bottom: -45px;
    right: -50px;

    &.active {
      &:not(.stop) {
        animation: .5s arrow-btn-before-stop linear forwards;
      }

      &.stop {
        animation: .5s arrow-btn-after-stop linear;
      }
    }
  }
}