$white: #FFFFFF;
$white-60: rgba(255, 255, 255, .60);
$bg-light: #F7F9FB;
$black: #000000;
$black-linear: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
$dark: #0D0D12;
$dark-40: rgba(17, 17, 17, .40);
$dark-80: rgba(17, 17, 17, .80);
$gray: rgba(255, 255, 255, .24);
$dark-gray: #232328;
$dark-gray2: #252525;
$general: #41A4DF;
$blue-12: rgba(41, 126, 226, .12);
$dark-blue-linear: linear-gradient(240deg, rgba(41, 126, 226, .12) 3.57%, rgba(24, 97, 182, .12) 86.24%);
$blue-linear: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
$deep-blue: #297EE2;
$blue-rgba: rgba(54, 136, 194, .82);
$purple: #8198D1;
$bg-purple: linear-gradient(297deg, #8EC5FC 8.25%, #E0C3FC 91.76%);
$bg-pink-linear: linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%);
$bg-yellow: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
$bg-blue: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);

$dark-box-shadow: 0 0 8px 0 rgba(182, 186, 191, 0.04), 0 2px 3px 0 rgba(0, 0, 0, .02);

//variables

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background: $white;
  color: $dark;
}

* {
  &::-webkit-scrollbar {
    width: 0;
  }
}

ul,
ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &[class] {
    list-style: none;
  }

  & li {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $dark;
  text-decoration: none;

  &:not([class]) {
    color: $general;
    text-decoration-skip-ink: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  background: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//////////

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 629;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;

  & > span {
    color: $general;
  }
}

h2 {
  font-size: 56px;
  font-weight: 629;
  line-height: 61.6px;
  letter-spacing: -1.68px;

  &.dark-gray {
    color: $dark-gray2;

    & > span {
      color: $general;
    }
  }
}

h3,
.h3-font {
  font-size: 42px;
  font-weight: 629;
  line-height: 46.2px;
  letter-spacing: -1.26px;
  color: $dark;
}

h4 {
  font-size: 32px;
  font-weight: 629;
  line-height: 35.2px;
  letter-spacing: -0.96px;
}

p {
  color: $dark;

  &:not(.description) {
    font-weight: 400;
    font-size: 20px;
  }

  &.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-transform: uppercase;
  }
}

button {
  padding: 18px 42px;
  width: fit-content;
  border-radius: 900px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  &.transparent {
    border: 1px solid $white-60;
    color: $white;
  }

  &.bg-blue {
    background: $blue-12;
    color: $deep-blue;
  }

  &.bg-deep-blue {
    color: #FFFFFF;
    background: $general;
  }

  &.telegram-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 15px 0;
    width: 100%;
    border-radius: 7.8px;
    background: $blue-rgba;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 17.9px;
    color: $white;

    &.bg-purple {
      background: $purple;
    }

    &:last-child {
      border-radius: 7.8px 7.8px 16.7px 16.7px;
    }
  }
}

ol {
  padding-left: 24px;
}

ul {
  padding-left: 28px;
  list-style: none;

  & li {
    color: $dark-80;
    position: relative;

    &::before {
      content: 'â—';
      font-size: 15px;
      line-height: 24px;
      color: $general;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -19px;
    }
  }
}

////////////////////////////////////////////

.fs-18 {
  font-size: 18px;
}

.white {
  color: $white;
}

.general {
  color: $general;
}

////////////////////HEADER//////////////////

.header {
  padding-top: 40px;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

////////////////////////NAVIGATION//////////////////////

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

///////////////////////////LOGO/////////////////////////

.logo {
  width: 64px;
}

////////////////////CRYPTO-PAYMENTS////////////////////

.crypto-payments {
  margin-top: 20px;

  &__body {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    margin-bottom: 95px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__phone {
    flex-shrink: 0;
    max-width: 488px;
  }
}

.bots {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__icons {
    display: flex;

    & > img {
      margin-right: -32px;
      width: 96px;
    }
  }
}

////////////////////////AUTO-SALES//////////////////////////////

.auto-sales {
  margin-top: 97px;
  background: $dark-gray;
  width: 100%;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0 42px 0 41px;
    width: 488px;
    height: 488px;
    border-radius: 40px;
    background: $bg-pink-linear;

    &.messages {
      gap: 5px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 488px;
  }

  &__description {
    color: $white;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &-num {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      color: $white;
    }

    &-button {
      width: 4px;
      height: 108px;
      border-radius: 90px;
      background: $gray;

      &:not(.active) {
        cursor: pointer;
      }

      &.active {
        background: $general;
      }
    }
  }
}

///////////////////////MESSAGE//////////////////////////

.message {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px 17px;
  border-radius: 17.8px;
  background: $white;

  font-family: 'SF Pro Display', sans-serif;
  font-size: 20.25px;
  font-weight: 400;
  line-height: 23.8px;
  letter-spacing: -0.6px;
  word-break: break-word;
  position: relative;

  &.ml-6 {
    margin-left: 6px;
    width: calc(100% - 6px);
  }

  &:last-child {
    &:not(.not-last) {
      position: relative;

      &:before {
        content: '';
        width: 25px;
        height: 30px;
        background-image: url("/assets/images/messages/tail.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: -6.64px;
      }
    }
  }

  & > p {
    text-align: left;
    position: relative;

    & > img {
      display: inline;
      width: 20.25px;
      height: 20.25px;
    }
  }

  &__time {
    display: inline;
    margin-top: -47px;
    font-size: 15.5px;
    font-weight: 510;
    line-height: 21.4px;
    letter-spacing: -0.6px;
    text-align: right;
    color: $dark-40;
  }

  &.little {
    gap: 22px;
    padding: 10px 15.6px;
    border-radius: 16.78px 16.78px 7.8px 7.8px;

    & .message {
      &__time {
        margin-top: -40px;
        font-size: 14.5px;
        line-height: 20px;
        letter-spacing: -0.56px;
      }
    }
  }

  &.little,
  &.little p {
    font-size: 19px;
    letter-spacing: -0.56px;
    line-height: 22.37px;

    & > img {
      margin-bottom: -2px;
      width: 18px;
      height: 18px;
    }

    & strong {
      font-weight: 590;
    }
  }

  &.so-little {
    gap: 21px;
    padding: 10px 15px;

    & .message {
      &__time {
        margin-top: -40px;
        font-size: 13.889px;
        line-height: 19.2px;
        letter-spacing: -0.5px;
      }
    }
  }

  &.so-little,
  &.so-little p {
    font-size: 18px;
    line-height: 21.3px;
    letter-spacing: -0.5px;

    & > img {
      margin-bottom: -2px;
      width: 18px;
      height: 18px;
    }

    & strong {
      font-weight: 700;
    }
  }

  &.text-black,
  &.text-black p {
    color: $black;

    & strong {
      color: $black;
    }
  }
}
///////////////////////////INFO///////////////////////////

.info {
  margin-top: 144px;

  &__body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 345px 366px 366px 510px;
    grid-gap: 20px;
  }

  &__item {
    background: $bg-light;

    &-down {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      & > p {
        color: $dark-80;
      }
    }
  }
}

/////////////////////CRYPTOCURRENCIES/////////////////////

.cryptocurrencies {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 42px 56px;
  border-radius: 40px;
  grid-area: 1 / 1 / 2 / 13;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_mt-22 {
      margin-top: 22px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -8px;
      width: 113px;
      height: 112px;
    }

    &-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      text-transform: uppercase;
      color: $dark-40;
    }
  }
}

.start-crypto-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 79px 56px 42px;
  border-radius: 40px;
  grid-area: 2 / 1 / 3 / 6;

  &__up {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    position: relative;

    & > svg {
      position: absolute;
      bottom: -25px;
      right: -15px;
    }
  }

  &__create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 18px 39px;
    width: 223px;
    border-radius: 17px;
    background: $dark-blue-linear;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    color: $dark;

    & > img {
      width: 21px;
    }
  }
}

.exchange-rates {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 47px 56px 42px;
  border-radius: 32px;
  grid-area: 3 / 1 / 4 / 6;

  &__up {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
  }

  &__cryptocurrencies {
    display: flex;
    margin-left: -23px;
    padding-left: 60px;
  }

  &__cryptocurrency {
    margin: -8px -42px;
    width: 113px;
    height: 112px;

    &:not(.active) > svg > g > path {
      opacity: 0;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 43px;
    height: 25px;
    border-radius: 19px;
    border: 1px solid $white;
    background: $white-60;
    backdrop-filter: blur(8px);
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 61px;
    right: 0;

    & > svg {
      position: relative;

      &:first-child {
        transform: rotateZ(180deg);
        top: 2px;
      }

      &:last-child {
        bottom: 2px;
      }
    }
  }

  &__currency {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: $black-linear;
    box-shadow: $dark-box-shadow;

    color: $white;
    font-size: 56px;
    font-weight: 500;
    line-height: 61.6px;
    letter-spacing: -1.7px;
  }
}

.payment-statistics {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 42px 56px;
  border-radius: 32px;
  grid-area: 2 / 6 / 4 / 13;

  &__up {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "tg-message tg-message"
            "tg-btn-all-time tg-btn-today"
            "tg-btn-yesterday tg-btn-week"
            "tg-btn-month tg-btn-month"
            "tg-btn-back tg-btn-back";
    grid-gap: 4.5px 4.7px;
    padding: 46px 74px;
    height: 526px;
    width: 100%;
    border-radius: 24px;
    background-image: url("/assets/images/messages/bg-blue.png");
    background-size: cover;

    & .message {
      grid-area: tg-message;
    }

    & #tg-btn-all-time {
      grid-area: tg-btn-all-time;
    }

    & #tg-btn-today {
      grid-area: tg-btn-today;
    }

    & #tg-btn-yesterday {
      grid-area: tg-btn-yesterday;
    }

    & #tg-btn-week {
      grid-area: tg-btn-week;
    }

    & #tg-btn-month {
      grid-area: tg-btn-month;
    }

    & #tg-btn-back {
      grid-area: tg-btn-back;
    }
  }
}

.send-coins {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding: 0 42px 42px;
  border-radius: 40px;
  grid-area: 4 / 1 / 5 / 8;

  &__up {
    & > img {
      margin: 0 auto;
      height: 350px;
    }
  }
}

.anonymous-payments {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 42px;
  border-radius: 32px;
  grid-area: 4 / 8 / 5 / 13;

  &__up {
    padding: 46px 21px;
    height: 222px;
    border-radius: 24px;
    background: $blue-linear;
  }
}

/////////////////////////////QUICK-START///////////////////////////

.quick-start {
  margin-top: 144px;
  padding: 120px 0;
  background: $bg-light;

  &__title {
    width: fit-content;
    margin: 0 auto;
  }

  &__steps {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    &_mt-40 {
      margin-top: 40px;
    }
  }

  &__step {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.first-step {
      & .quick-start__step-example {
        flex-direction: column;
        row-gap: 4px;
        padding: 117px 99px;
        background: $bg-purple;
      }
    }

    &.second-step {
      & .quick-start__step-example {
        justify-content: center;
        align-items: center;
        padding: 0 98px;
        background: $bg-yellow;
      }
    }

    &.third-step {
      & .quick-start__step-example {
        justify-content: center;
        align-items: center;
        padding: 0 93px;
        background: $bg-blue;
      }
    }

    &-manual {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      width: 488px;
    }

    &-example {
      display: flex;
      width: 590px;
      height: 488px;
      border-radius: 40px;
    }

    &-num {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      background: $black-linear;
      box-shadow: $dark-box-shadow;
      color: $white;
    }

    &-request {
      padding: 16.6px;
      width: 100%;
      border-radius: 20px;
      background: #0D0D12;
      font-family: "SF Mono Regular", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 27.4px;
      letter-spacing: -0.59px;
      color: #FFFFFF;

      & .yellow {
        color: #FCEF8F;
      }

      & .red {
        color: #D46565;
      }

      & .blue {
        color: #5DB0E2;
      }

      & .light-blue {
        color: #61BAEF;
      }

      & .tabulation {
        padding-left: 32px;

        & > div {
          display: flex;

          & > span {
            display: block;
            width: 104px;
          }
        }
      }
    }
  }
}

////////////////////////////CRYPTO-PAY-API/////////////////////////

.crypto-pay-api {
  margin-top: 72px;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    padding: 147px 80px;
    border-radius: 40px;
    background: $blue-linear;
    position: relative;

    &:before {
      content: '';
      display: block;
      height: 100%;
      background-image: url("/assets/images/crypto-pay-api-bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      inset: 0;
    }
  }
}

////////////////////////////DEV-COMMUNITY/////////////////////////

.dev-community {
  background: $dark-gray;

  &__body {
    padding: 192px 0 80px;
    border-radius: 0 0 40px 40px;
    background: $white;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;

    & > p {
      text-align: center;
      color: $dark-80;
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;

    &_my-16 {
      margin: 16px 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    & > img {
      margin-bottom: -8px;
      width: 96px;
    }

    & > span {
      max-width: 179px;
      font-weight: 500;
      font-size: 20px;
      color: $dark-80;
      text-align: center;
    }
  }
}

////////////////////////////////FOOTER/////////////////////////////

.footer {
  padding: 80px 0 40px;
  background: $dark-gray;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .navigation {
    margin-left: 88px;
  }

  &__down {
    font-weight: 500;
    font-size: 20px;
    color: $white;
  }
}