$white: #FFFFFF;
$bg-light: #F7F9FB;
$black: #000000;
$dark: #0D0D12;
$dark-40: rgba(17, 17, 17, .40);
$dark-80: rgba(17, 17, 17, .80);
$gray: rgba(255, 255, 255, .24);
$dark-gray: #232328;
$general: #41A4DF;
$blue-12: rgba(41, 126, 226, .12);
$blue-linear: linear-gradient(240deg, rgba(41, 126, 226, .12) 3.57%, rgba(24, 97, 182, .12) 86.24%);
$deep-blue: #297EE2;
$blue-rgba: rgba(54, 136, 194, .82);
$purple: #8198D1;
$bg-purple: linear-gradient(297deg, #8EC5FC 8.25%, #E0C3FC 91.76%);
$bg-pink-linear: linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%);

//variables

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background: $white;
  color: $dark;
}

* {
  &::-webkit-scrollbar {
    width: 0;
  }
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $dark;
  text-decoration: none;

  &:not([class]) {
    color: $general;
    text-decoration-skip-ink: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  background: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//////////

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 629;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;

  & > span {
    color: $general;
  }
}

h2 {
  font-size: 56px;
  font-weight: 629;
  line-height: 61.6px;
  letter-spacing: -1.68px;
  color: $general;

  & > span {
    color: $white;
  }
}

h3 {
  font-size: 42px;
  font-weight: 629;
  line-height: 46.2px;
  letter-spacing: -1.26px;
}

h4 {
  font-size: 32px;
  font-weight: 629;
  line-height: 35.2px;
  letter-spacing: -0.96px;
}

p {
  color: $dark;

  &:not(.description) {
    font-weight: 400;
    font-size: 20px;
  }

  &.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-transform: uppercase;
  }
}

button {
  padding: 18px 42px;
  width: fit-content;
  border-radius: 900px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: $white;

  &.bg-blue {
    background: $blue-12;
    color: $deep-blue;
  }

  &.bg-deep-blue {
    color: #FFFFFF;
    background: $general;
  }

  &.telegram-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    width: 100%;
    border-radius: 7.831px;
    background: $blue-rgba;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 19px;
    font-weight: 510;
    line-height: 17.9px;
    color: $white;
  }
}

////////////////////HEADER//////////////////

.header {
  padding-top: 40px;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

.logo {
  width: 64px;
}

////////////////////CRYPTO-PAYMENTS////////////////////

.crypto-payments {
  margin-top: 20px;

  &__body {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    row-gap: 56px;
    margin-bottom: 95px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }

  &__phone {
    flex-shrink: 0;
    max-width: 488px;
  }
}

.bots {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  &__icons {
    display: flex;

    & > img {
      margin-right: -32px;
      width: 96px;
    }
  }
}

////////////////////////AUTO-SALES//////////////////////////////

.auto-sales {
  margin-top: 97px;
  background: $dark-gray;
  width: 100%;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 122px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 0 42px 0 41px;
    width: 488px;
    height: 488px;
    border-radius: 40px;
    background: $bg-pink-linear;

    &.messages {
      gap: 5px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 488px;
  }

  &__description {
    color: $white;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    &-num {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      color: $white;
    }

    &-button {
      width: 4px;
      height: 108px;
      border-radius: 90px;
      background: $gray;

      &:not(.active) {
        cursor: pointer;
      }

      &.active {
        background: $general;
      }
    }
  }
}

///////////////////////MESSAGE//////////////////////////

.message {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px 17px;
  border-radius: 17.8px;
  width: calc(100% - 6px);
  background: $white;

  font-family: 'SF Pro Display', sans-serif;
  font-size: 20.25px;
  font-weight: 400;
  line-height: 23.8px;
  letter-spacing: -0.6px;
  position: relative;

  &.ml-6 {
    margin-left: 6px;
  }

  &:last-child {
    &:not(.not-last) {
      position: relative;

      &:before {
        content: '';
        width: 25px;
        height: 30px;
        background-image: url("/assets/images/auto-sales/tail.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        left: -6.64px;
      }
    }
  }

  & > p {
    text-align: left;
    position: relative;

    & > img {
      display: inline;
      width: 20.25px;
      height: 20.25px;
    }
  }

  &__time {
    display: inline;
    margin-top: -47px;
    font-size: 15.5px;
    font-weight: 510;
    line-height: 21.4px;
    letter-spacing: -0.6px;
    text-align: right;
    color: $dark-40;
  }

  &.little {
    gap: 22px;
    padding: 10px 15.6px;
    border-radius: 16.78px 16.78px 7.8px 7.8px;

    & .message {
      &__time {
        margin-top: -40px;
        font-size: 14.5px;
        line-height: 20px;
        letter-spacing: -0.56px;
      }
    }
  }

  &.little,
  &.little p {
    font-size: 19px;
    letter-spacing: -0.56px;
    line-height: 22.37px;
    color: $black;

    & strong {
      font-weight: 590;
      color: $dark;
    }
  }
}
///////////////////////////INFO///////////////////////////

.info {
  margin-top: 144px;

  &__body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 345px 366px 366px 510px;
    grid-gap: 20px;
  }

  &__item {
    background: $bg-light;

    &-down {
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      & > p {
        color: $dark-80;
      }
    }
  }
}

/////////////////////CRYPTOCURRENCIES/////////////////////

.cryptocurrencies {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 42px 56px;
  border-radius: 40px;
  grid-area: 1 / 1 / 2 / 13;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_mt-22 {
      margin-top: 22px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -9px -8px;
      width: 113px;
      height: 112px;
    }

    &-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 16.8px;
      text-transform: uppercase;
      color: $dark-40;
    }
  }
}

.start-crypto-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 79px 56px 42px;
  border-radius: 40px;
  grid-area: 2 / 1 / 3 / 6;

  &__up {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: fit-content;
    position: relative;

    & > svg {
      position: absolute;
      bottom: -25px;
      right: -15px;
    }
  }

  &__create-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    padding: 18px 39px;
    width: 223px;
    border-radius: 17px;
    background: $blue-linear;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    color: $dark;

    & > img {
      width: 21px;
    }
  }
}

.exchange-rates {
  padding: 42px 56px;
  border-radius: 32px;
  grid-area: 3 / 1 / 4 / 6;
}

.payment-statistics {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 42px 56px;
  border-radius: 32px;
  grid-area: 2 / 6 / 4 / 13;

  &__up {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
            "tg-message tg-message"
            "tg-btn-all-time tg-btn-today"
            "tg-btn-yesterday tg-btn-week"
            "tg-btn-month tg-btn-month"
            "tg-btn-back tg-btn-back";
    grid-gap: 4.5px 4.7px;
    padding: 46px 74px;
    height: 526px;
    width: 100%;
    border-radius: 24px;
    background-image: url("/assets/images/cryptocurrencies/bg-blue.png");
    background-size: cover;

    & .message {
      grid-area: tg-message;
    }

    & #tg-btn-all-time {
      grid-area: tg-btn-all-time;
    }

    & #tg-btn-today {
      grid-area: tg-btn-today;
    }

    & #tg-btn-yesterday {
      grid-area: tg-btn-yesterday;
    }

    & #tg-btn-week {
      grid-area: tg-btn-week;
    }

    & #tg-btn-month {
      grid-area: tg-btn-month;
    }

    & #tg-btn-back {
      grid-area: tg-btn-back;
    }
  }
}

.send-coins {
  padding: 0 42px 42px;
  border-radius: 40px;
  grid-area: 4 / 1 / 5 / 8;
}

.anonymous-payments {
  padding: 42px;
  border-radius: 32px;
  grid-area: 4 / 8 / 5 / 13;
}
