$white: #FFFFFF;
$white-60: rgba(255, 255, 255, .60);
$bg-light: #F7F9FB;
$black: #000000;
$black-linear: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
$dark: #0D0D12;
$dark-40: rgba(17, 17, 17, .4);
$dark-80: rgba(17, 17, 17, .8);
$gray: rgba(255, 255, 255, .24);
$dark-gray: #232328;
$dark-gray2: #252525;
$general: #41A4DF;
$blue-12: rgba(41, 126, 226, .12);
$dark-blue-linear: linear-gradient(240deg, rgba(41, 126, 226, .12) 3.57%, rgba(24, 97, 182, .12) 86.24%);
$blue-linear: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
$deep-blue: #297EE2;
$dark-blue: #034AAB;
$blue-rgba: rgba(54, 136, 194, .82);
$purple: #8198D1;
$light-purple: #96ADC6;
$bg-purple: linear-gradient(297deg, #8EC5FC 8.25%, #E0C3FC 91.76%);
$bg-pink-linear: linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%);
$bg-yellow: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
$bg-blue: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);

$dark-box-shadow: 0 0 8px 0 rgba(182, 186, 191, 0.04), 0 2px 3px 0 rgba(0, 0, 0, .02);

//variables

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background: $white;
  color: $dark;
}

* {
  &::-webkit-scrollbar {
    width: 0;
  }
}

ul,
ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  &[class] {
    list-style: none;
  }

  & li {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $dark;
  text-decoration: none;

  &:not([class]) {
    color: $general;
    text-decoration-skip-ink: auto;
  }
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  background: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//////////

.container {
  max-width: 1290px;
  width: 100%;
  margin: 0 auto;
  padding: 0 45px;
}

h1 {
  font-weight: 629;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;

  & > span {
    color: $general;
  }
}

h2 {
  font-size: 56px;
  font-weight: 629;
  line-height: 61.6px;
  letter-spacing: -1.68px;

  &.dark-gray {
    color: $dark-gray2;

    & > span {
      color: $general;
    }
  }
}

h3,
.h3-font {
  font-size: 42px;
  font-weight: 629;
  line-height: 46.2px;
  letter-spacing: -1.26px;
  color: $dark;
}

h4 {
  font-size: 32px;
  font-weight: 629;
  line-height: 35.2px;
  letter-spacing: -0.96px;
}

p {
  color: $dark;

  &:not(.description) {
    font-weight: 400;
    font-size: 20px;
  }

  &.description {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    text-transform: uppercase;
  }
}

button {
  padding: 18px 42px;
  width: fit-content;
  border-radius: 900px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;

  &.transparent {
    border: 1px solid $white-60;
    color: $white;
  }

  &.bg-blue {
    background: $blue-12;
    color: $deep-blue;
  }

  &.bg-deep-blue {
    color: #FFFFFF;
    background: $general;
  }

  &.telegram-button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    padding: 15px 0;
    width: 100%;
    border-radius: 7.8px;
    background: $blue-rgba;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 17.9px;
    color: $white;
    transition: .5s all ease;
    position: relative;

    &.active {
      background: rgba(32, 114, 172, .82);
    }

    &__arrow {
      position: absolute;

      &_top-right {
        top: 0;
        right: 0;
      }
    }

    &:disabled {
      background: $light-purple;
      cursor: not-allowed;
    }

    &.bg-purple {
      background: $purple;
    }

    &:last-child {
      border-radius: 7.8px 7.8px 16.7px 16.7px;
    }
  }
}

.telegram-button {
  &__arrow {
    position: absolute;

    &_top-right {
      top: 8px;
      right: 8px;
    }
  }
}

ol {
  padding-left: 24px;
}

ul {
  padding-left: 28px;
  list-style: none;

  & li {
    color: $dark-80;
    position: relative;

    &::before {
      content: 'â—';
      font-size: 9px;
      line-height: 24px;
      color: $general;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -19px;
    }
  }
}

////////////////////////////////////////////

.fs-18 {
  font-size: 18px;
}

.white {
  color: $white;
}

.general {
  color: $general;
}

.bg-pink {
  background: $bg-pink-linear;
}

.bg-blue {
  background: $bg-blue;
}

.bg-yellow {
  background: $bg-yellow;
}

.dark-blue {
  color: $dark-blue;
}

////////////////////HEADER//////////////////

////////////////////////NAVIGATION//////////////////////

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

///////////////////////////LOGO/////////////////////////

.logo {
  width: 64px;
}

///////////////////////////ANIMATIONS/////////////////////////

@keyframes show-slide {
  0% {
    transform: translateY(488px * 1.5);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes hidden-slide {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(488px * 1.5);
  }
}

@keyframes scaleCryptocurrencies {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

@keyframes changeTextColor {
  50% {
    color: $dark-80;
  }
}

@keyframes arrow-btn-before-stop {
  0% {
    bottom: -45px;
    right: -50px;
  }

  100% {
    bottom: -25px;
    right: -15px;
  }
}

@keyframes arrow-btn-after-stop {
  0% {
    bottom: -25px;
    right: -15px;
  }

  100% {
    bottom: -45px;
    right: -50px;
  }
}

@keyframes bot-button-create {
  0% {
    scale: 1;
  }

  25% {
    background: linear-gradient(240deg, rgba(41, 126, 226, 0.18) 3.57%, rgba(24, 97, 182, 0.18) 86.24%);
  }

  50% {
    scale: 1.1;
  }

  99% {
    background: linear-gradient(240deg, rgba(41, 126, 226, .18) 3.57%, rgba(24, 97, 182, .18) 86.24%);
  }

  100% {
    background: $dark-blue-linear;
    scale: 1;
  }
}

@keyframes telegram-message {
  0% {
    background: #FFFFFF;
  }

  100% {
    background: rgba(249, 251, 253, 0.82);
  }
}

@keyframes telegram-message-values {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes send-coins-message {
  0% {
    transform: scale(.9) translateY(30px);
    opacity: .5;
    z-index: 2;
  }

  100% {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1260px) {
  .exchange-rates {
    padding: 47px 36px 36px;
  }
}

@media screen and (max-width: 1215px) {
  .slider {
    &__content {
      gap: 50px;
    }
  }
}

@media screen and (max-width: 1174px) and (min-width: 1060px) {
  .cryptocurrencies {
    padding: 36px 36px;
  }

  .payment-statistics {
    padding: 36px 36px;

    &__up {
      padding: 32px 46px;
    }
  }

  .start-crypto-bot {
    padding: 68px 36px 36px;
  }

  .send-coins {
    padding: 0 36px 36px;
  }

  .anonymous-payments {
    padding: 29px;

    &__up {
      padding: 42px 17px;
    }
  }

  .info {
    &__item-down {
      &_px-14 {
        padding: 0 7px;
      }
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 1100px) {
  .quick-start {
    &__step {
      gap: 20px;

      &-example {
        width: 500px;
        height: 430px;
      }

      &.first-step {
        & .quick-start__step-example {
          padding: 90px 54px;
        }
      }

      &.second-step {
        & .quick-start__step-example {
          padding: 0 59px;
        }
      }

      &.third-step {
        & .quick-start__step-example {
          padding: 0 44px;
        }
      }
    }
  }
}

@media screen and (max-width: 1123px) {
  .container {
    padding: 0 25px;
  }

  .slider {
    &__body {
      justify-content: center;
      align-items: flex-start;
      column-gap: 50px;
      padding: 40px 0;
    }

    &__content {
      flex-direction: column;
      margin-left: 68px;
    }

    &__info {
      & > h2 {
        & br {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1091px) and (min-width: 1060px) {
  h1 {
    font-size: 75px;
    text-align: center;
  }

  h2 {
    font-size: 50px;
  }

  h3 {
    font-size: 40px;
  }

  p {
    &:not(.description) {
      font-size: 18px;
    }

    &.description {
      font-size: 13px;
    }
  }
}

@media screen and (max-width: 1091px) {
  h1 {
    text-align: center;
  }

  .crypto-payments {
    &__body {
      flex-direction: column;
    }

    &__left {
      row-gap: 30px;
      margin-bottom: 0;
    }

    &__info {
      align-items: center;
      row-gap: 18px;
    }
  }

  .bots {
    align-items: center;
  }
}

@media screen and (max-width: 1080px) and (min-width: 1060px) {
  .quick-start {
    &__step {
      gap: 20px;

      &-example {
        width: 480px;
        height: 410px;
      }

      &.first-step {
        & .quick-start__step-example {
          padding: 80px 44px;
        }
      }

      &.second-step {
        & .quick-start__step-example {
          padding: 0 49px;
        }
      }

      &.third-step {
        & .quick-start__step-example {
          padding: 0 34px;
        }
      }
    }
  }
}

@media screen and (max-width: 1175px) {
  .exchange-rates {
    &__up {
      padding: 0 45px;
    }
  }
}

@media screen and (max-width: 1115px) {
  .exchange-rates {
    &__up {
      padding: 0 40px;
    }
  }
}

@media screen and (max-width: 1080px) {
  .exchange-rates {
    &__up {
      justify-content: center;
      column-gap: 45px;
      padding: 0 35px;
    }
  }
}

@media screen and (max-width: 1060px) {
  .info {
    &__body {
      grid-template-columns: 1fr;
      grid-template-rows: unset;
    }
  }

  .cryptocurrencies {
    grid-area: unset;

    &__list {
      justify-content: center;
    }
  }

  .info__item {
    grid-area: unset;
    min-height: 366px;
  }

  .anonymous-payments {
    &__up {
      margin: 0 60px;
      padding: 46px;
    }
  }

  .quick-start {
    &__step {
      gap: 40px;

      &-example {
        width: 100%;
      }

      &.first-step {
        flex-direction: column-reverse;

        & .quick-start__step-example {
        }
      }

      &.second-step {
        flex-direction: column;

        & .quick-start__step-example {
        }
      }

      &.third-step {
        flex-direction: column-reverse;

        & .quick-start__step-example {
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .dev-community {
    &__items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px 26px;
    }
  }

  .crypto-pay-api {
    &__body {
      &:before {
        background-position: center;
      }

      & * {
        position: relative;
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .navigation {
    display: none;
  }
}

//////////////////////////////////////////////MOBILE

@media screen and (max-width: 720px) {
  .container {
    padding: 0 20px;
  }

  button {
    padding: 12.21px 32px;
    font-size: 18px;
    line-height: 21.6px;
  }

  h1 {
    font-size: 46px;
    line-height: 50.6px;
    letter-spacing: -1.38px;
  }

  h2 {
    font-size: 32px;
    line-height: 35.2px;
    letter-spacing: -.96px;
  }

  p {
    &:not(.description) {
      font-size: 18px;
      line-height: 21.6px;
    }
  }

  .bots {
    &__icons {
      & > img {
        width: 63px;
        height: 63px;
      }
    }
  }

  .slider {
    &__body {
      flex-direction: column;
      row-gap: 32px;
    }

    &__content {
      row-gap: 32px;

      &:first-child {
        & .slider__block {
          & .message {
            max-width: 274px;
          }
        }
      }

      &:not(:first-child) {
        & .message {
          max-width: 270px;
        }
      }
    }

    &__block {
      row-gap: 3px;
    }

    &__navigation {
      flex-direction: row;
      width: 100%;

      &-button {
        width: 100%;
        height: 4px;
      }
    }

    &__info {
      row-gap: 24px;

      & > button {
        margin-top: 30px;
        width: 100%;
      }

      & > h2,
      & > p {
        text-align: center;
      }
    }
  }

  .message {
    gap: 15.28px;
    padding: 6.5px 11px;
    border-radius: 12.26px;

    & > p {
      font-size: 13.9px;
      line-height: 16.35px;
      letter-spacing: -.4px;

      & > img {
        width: 13.9px;
        height: 13.9px
      }
    }
  }

  .crypto-payments {
    &__phone {
      width: 115%;
      height: 826px;
      object-fit: cover;
      scale: .9;
    }
  }
}
//////////////////////////////////////////////////////


@media screen and (max-width: 665px) {
  .anonymous-payments {
    &__up {
      margin: 0;
    }
  }
}

@media screen and (max-width: 572px) {
  .dev-community {
    & h2 {
      text-align: center;
    }
  }
}

@media screen and (max-width: 540px) {
  .anonymous-payments {
    &__up {
      margin: 0;
    }
  }
}
