@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  background: #FFFFFF;
  color: #0D0D12;
}

*::-webkit-scrollbar {
  width: 0;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
ul[class],
ol[class] {
  list-style: none;
}
ul li,
ol li {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

a {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #0D0D12;
  text-decoration: none;
}
a:not([class]) {
  color: #41A4DF;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  outline: none;
  border: none;
}

button {
  background: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-weight: 629;
  font-size: 80px;
  line-height: 88px;
  letter-spacing: -2.4px;
}
h1 > span {
  color: #41A4DF;
}

h2 {
  font-size: 56px;
  font-weight: 629;
  line-height: 61.6px;
  letter-spacing: -1.68px;
}
h2.dark-gray {
  color: #252525;
}
h2.dark-gray > span {
  color: #41A4DF;
}

h3,
.h3-font {
  font-size: 42px;
  font-weight: 629;
  line-height: 46.2px;
  letter-spacing: -1.26px;
  color: #0D0D12;
}

h4 {
  font-size: 32px;
  font-weight: 629;
  line-height: 35.2px;
  letter-spacing: -0.96px;
}

p {
  color: #0D0D12;
}
p:not(.description) {
  font-weight: 400;
  font-size: 20px;
}
p.description {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-transform: uppercase;
}

button {
  padding: 18px 42px;
  width: fit-content;
  border-radius: 900px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
button.transparent {
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: #FFFFFF;
}
button.bg-blue {
  background: rgba(41, 126, 226, 0.12);
  color: #297EE2;
}
button.bg-deep-blue {
  color: #FFFFFF;
  background: #41A4DF;
}
button.telegram-button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  padding: 15px 0;
  width: 100%;
  border-radius: 7.8px;
  background: rgba(54, 136, 194, 0.82);
  font-family: "SF Pro Display", sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 17.9px;
  color: #FFFFFF;
  position: relative;
}
button.telegram-button__arrow {
  position: absolute;
}
button.telegram-button__arrow_top-right {
  top: 0;
  right: 0;
}
button.telegram-button:disabled {
  background: #96ADC6;
  cursor: not-allowed;
}
button.telegram-button.bg-purple {
  background: #8198D1;
}
button.telegram-button:last-child {
  border-radius: 7.8px 7.8px 16.7px 16.7px;
}

.telegram-button__arrow {
  position: absolute;
}
.telegram-button__arrow_top-right {
  top: 8px;
  right: 8px;
}

ol {
  padding-left: 24px;
}

ul {
  padding-left: 28px;
  list-style: none;
}
ul li {
  color: rgba(17, 17, 17, 0.8);
  position: relative;
}
ul li::before {
  content: "●";
  font-size: 9px;
  line-height: 24px;
  color: #41A4DF;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -19px;
}

.fs-18 {
  font-size: 18px;
}

.white {
  color: #FFFFFF;
}

.general {
  color: #41A4DF;
}

.bg-pink {
  background: linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%);
}

.bg-blue {
  background: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);
}

.bg-yellow {
  background: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
}

.dark-blue {
  color: #034AAB;
}

.header {
  padding-top: 40px;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.header__right > svg {
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 32px;
}

.logo {
  width: 64px;
}

.crypto-payments {
  margin-top: 20px;
}
.crypto-payments__body {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.crypto-payments__left {
  display: flex;
  flex-direction: column;
  row-gap: 56px;
  margin-bottom: 95px;
}
.crypto-payments__info {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.crypto-payments__phone {
  flex-shrink: 0;
  max-width: 488px;
}

.bots {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.bots__icons {
  display: flex;
}
.bots__icons > img {
  margin-right: -32px;
  width: 96px;
}

.slider {
  margin-top: 97px;
  background: #232328;
  width: 100%;
}
.slider__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh + 1px);
  overflow: hidden;
}
.slider__content {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 122px;
}
.slider__content:not(.active) {
  animation: hidden-slide 1s ease;
}
.slider__content.active {
  display: flex;
  animation: show-slide 1s ease;
}
.slider__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 488px;
  height: 488px;
  border-radius: 40px;
  position: relative;
}
.slider__block > svg {
  margin: auto;
  position: absolute;
  inset: 0;
  bottom: 31px;
}
.slider__block_first {
  padding: 0 42px 0 41px;
}
.slider__block_second {
  padding: 0 47px;
}
.slider__block_third {
  row-gap: 14px !important;
  padding: 0 47px;
}
.slider__block_third > .code {
  padding: 16px 10px 16px 16px;
  border-radius: 8.3px 8.3px 17.8px 17.8px;
}
.slider__block_third > .code .tabulation > div > span {
  width: 94px;
}
.slider__block.messages {
  gap: 5px;
}
.slider__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 488px;
}
.slider__description {
  color: #FFFFFF;
}
.slider__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.slider__navigation-num {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  color: #FFFFFF;
}
.slider__navigation-button {
  width: 4px;
  height: 108px;
  border-radius: 90px;
  background: rgba(255, 255, 255, 0.24);
}
.slider__navigation-button:not(.active) {
  cursor: pointer;
}
.slider__navigation-button.active {
  background: #41A4DF;
}
.slider:not(:first-child) .message.not-last {
  border-radius: 17.8px 17.8px 8.3px 8.3px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 10px 17px;
  width: 100%;
  border-radius: 17.8px;
  background: #FFFFFF;
  font-family: "SF Pro Display", sans-serif;
  font-size: 20.25px;
  font-weight: 400;
  line-height: 23.8px;
  letter-spacing: -0.6px;
  word-break: break-word;
  position: relative;
}
.message.ml-6 {
  margin-left: 6px;
  width: calc(100% - 6px);
}
.message:last-child:not(.not-last) {
  position: relative;
}
.message:last-child:not(.not-last):before {
  content: "";
  width: 25px;
  height: 30px;
  background-image: url("/assets/images/messages/tail.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: -6.64px;
}
.message > p {
  text-align: left;
  position: relative;
}
.message > p > img {
  display: inline;
  margin-bottom: -1px;
  width: 20.25px;
  height: 20.25px;
}
.message__time {
  display: inline;
  margin-top: -47px;
  font-size: 15.5px;
  font-weight: 510;
  line-height: 21.4px;
  letter-spacing: -0.6px;
  text-align: right;
  color: rgba(17, 17, 17, 0.4);
}
.message.little {
  gap: 22px;
  padding: 10px 15.6px;
  border-radius: 16.78px 16.78px 7.8px 7.8px;
}
.message.little .message__time {
  margin-top: -40px;
  font-size: 14.5px;
  line-height: 20px;
  letter-spacing: -0.56px;
}
.message.little, .message.little p {
  font-size: 19px;
  letter-spacing: -0.56px;
  line-height: 22.37px;
}
.message.little > img, .message.little p > img {
  margin-bottom: -2px;
  width: 18px;
  height: 18px;
}
.message.little strong, .message.little p strong {
  font-weight: 590;
}
.message.so-little {
  gap: 21px;
  padding: 10px 15px;
}
.message.so-little .message__time {
  margin-top: -40px;
  font-size: 13.889px;
  line-height: 19.2px;
  letter-spacing: -0.5px;
}
.message.so-little, .message.so-little p {
  font-size: 18px;
  line-height: 21.3px;
  letter-spacing: -0.5px;
}
.message.so-little > img, .message.so-little p > img {
  margin-bottom: -2px;
  width: 18px;
  height: 18px;
}
.message.so-little strong, .message.so-little p strong {
  font-weight: 700;
}
.message.text-black, .message.text-black p {
  color: #000000;
}
.message.text-black strong, .message.text-black p strong {
  color: #000000;
}
.message.flat-bottom {
  border-radius: 17.8px 17.8px 8.3px 8.3px;
}

.code {
  padding: 16.6px;
  width: 100%;
  border-radius: 20px;
  background: #0D0D12;
  font-family: "SF Mono Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 27.4px;
  letter-spacing: -0.59px;
  color: #FFFFFF;
}
.code .yellow {
  color: #FCEF8F;
}
.code .red {
  color: #D46565;
}
.code .blue {
  color: #5DB0E2;
}
.code .light-blue {
  color: #61BAEF;
}
.code .tabulation {
  padding-left: 32px;
}
.code .tabulation > div {
  display: flex;
}
.code .tabulation > div > span {
  display: block;
  width: 104px;
}

.info {
  margin-top: 144px;
}
.info__body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 345px 366px 366px 510px;
  grid-gap: 20px;
}
.info__item {
  background: #F7F9FB;
}
.info__item-down {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.info__item-down > p {
  color: rgba(17, 17, 17, 0.8);
}

.cryptocurrencies {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 42px 56px;
  border-radius: 40px;
  grid-area: 1/1/2/13;
}
.cryptocurrencies__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cryptocurrencies__list_mt-22 {
  margin-top: 22px;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(1) > img {
  animation-delay: 0.32s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(1) .cryptocurrencies__item-name {
  animation-delay: 0.32s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(2) > img {
  animation-delay: 0.64s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(2) .cryptocurrencies__item-name {
  animation-delay: 0.64s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(3) > img {
  animation-delay: 0.96s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(3) .cryptocurrencies__item-name {
  animation-delay: 0.96s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(4) > img {
  animation-delay: 1.28s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(4) .cryptocurrencies__item-name {
  animation-delay: 1.28s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(5) > img {
  animation-delay: 1.6s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(5) .cryptocurrencies__item-name {
  animation-delay: 1.6s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(6) > img {
  animation-delay: 1.92s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(6) .cryptocurrencies__item-name {
  animation-delay: 1.92s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(7) > img {
  animation-delay: 2.24s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(7) .cryptocurrencies__item-name {
  animation-delay: 2.24s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(8) > img {
  animation-delay: 2.56s;
}
.cryptocurrencies__list .cryptocurrencies__item:nth-child(8) .cryptocurrencies__item-name {
  animation-delay: 2.56s;
}
.cryptocurrencies__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
}
.cryptocurrencies__item > img {
  width: 96px;
  height: 96px;
  animation: 0.375s scaleCryptocurrencies ease-in forwards;
}
.cryptocurrencies__item-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 0.4);
  animation: 0.375s changeTextColor ease-in forwards;
}

.start-crypto-bot {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 79px 56px 42px;
  border-radius: 40px;
  grid-area: 2/1/3/6;
}
.start-crypto-bot__up {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.start-crypto-bot__up > svg {
  position: absolute;
  bottom: -25px;
  right: -15px;
}
.start-crypto-bot__create-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding: 18px 39px;
  width: 223px;
  border-radius: 17px;
  background: linear-gradient(240deg, rgba(41, 126, 226, 0.12) 3.57%, rgba(24, 97, 182, 0.12) 86.24%);
  font-size: 22px;
  font-weight: 500;
  line-height: 26.4px;
  color: #0D0D12;
}
.start-crypto-bot__create-btn > img {
  width: 21px;
}

.exchange-rates {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 47px 56px 42px;
  border-radius: 32px;
  grid-area: 3/1/4/6;
}
.exchange-rates__up {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  position: relative;
}
.exchange-rates__cryptocurrencies {
  display: flex;
  margin-left: -23px;
  padding-left: 60px;
}
.exchange-rates__cryptocurrency {
  margin: -8px -42px;
  width: 113px;
  height: 112px;
}
.exchange-rates__cryptocurrency:not(.active) > svg > g > path {
  opacity: 0;
}
.exchange-rates__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 43px;
  height: 25px;
  border-radius: 19px;
  border: 1px solid #FFFFFF;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 61px;
  right: 0;
}
.exchange-rates__button > svg {
  position: relative;
}
.exchange-rates__button > svg:first-child {
  transform: rotateZ(180deg);
  top: 2px;
}
.exchange-rates__button > svg:last-child {
  bottom: 2px;
}
.exchange-rates__currency {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
  box-shadow: 0 0 8px 0 rgba(182, 186, 191, 0.04), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 500;
  line-height: 61.6px;
  letter-spacing: -1.7px;
}

.payment-statistics {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding: 42px 56px;
  border-radius: 32px;
  grid-area: 2/6/4/13;
}
.payment-statistics__up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "tg-message tg-message" "tg-btn-all-time tg-btn-today" "tg-btn-yesterday tg-btn-week" "tg-btn-month tg-btn-month" "tg-btn-back tg-btn-back";
  grid-gap: 4.5px 4.7px;
  padding: 46px 74px;
  height: 526px;
  width: 100%;
  border-radius: 24px;
  background-image: url("/assets/images/messages/bg-blue.png");
  background-size: cover;
}
.payment-statistics__up .message {
  grid-area: tg-message;
}
.payment-statistics__up #tg-btn-all-time {
  grid-area: tg-btn-all-time;
}
.payment-statistics__up #tg-btn-today {
  grid-area: tg-btn-today;
}
.payment-statistics__up #tg-btn-yesterday {
  grid-area: tg-btn-yesterday;
}
.payment-statistics__up #tg-btn-week {
  grid-area: tg-btn-week;
}
.payment-statistics__up #tg-btn-month {
  grid-area: tg-btn-month;
}
.payment-statistics__up #tg-btn-back {
  grid-area: tg-btn-back;
}

.send-coins {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  padding: 0 42px 42px;
  border-radius: 40px;
  grid-area: 4/1/5/8;
}
.send-coins__up > img {
  margin: 0 auto;
  height: 350px;
}

.anonymous-payments {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 42px;
  border-radius: 32px;
  grid-area: 4/8/5/13;
}
.anonymous-payments__up {
  padding: 46px 21px;
  height: 222px;
  border-radius: 24px;
  background: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
}

.quick-start {
  margin-top: 144px;
  padding: 120px 0;
  background: #F7F9FB;
}
.quick-start__title {
  width: fit-content;
  margin: 0 auto;
}
.quick-start__steps {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.quick-start__steps_mt-40 {
  margin-top: 40px;
}
.quick-start__step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quick-start__step.first-step .quick-start__step-example {
  flex-direction: column;
  row-gap: 4px;
  padding: 117px 99px;
  background: linear-gradient(297deg, #8EC5FC 8.25%, #E0C3FC 91.76%);
}
.quick-start__step.second-step .quick-start__step-example {
  justify-content: center;
  align-items: center;
  padding: 0 98px;
  background: linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%);
}
.quick-start__step.third-step .quick-start__step-example {
  justify-content: center;
  align-items: center;
  padding: 0 93px;
  background: linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%);
}
.quick-start__step-manual {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 488px;
}
.quick-start__step-example {
  display: flex;
  width: 590px;
  height: 488px;
  border-radius: 40px;
}
.quick-start__step-num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
  box-shadow: 0 0 8px 0 rgba(182, 186, 191, 0.04), 0 2px 3px 0 rgba(0, 0, 0, 0.02);
  color: #FFFFFF;
}

.crypto-pay-api {
  margin-top: 72px;
}
.crypto-pay-api__body {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  padding: 147px 80px;
  border-radius: 40px;
  background: linear-gradient(233deg, #9FCCFA -20.48%, #0974F1 97.38%);
  position: relative;
}
.crypto-pay-api__body:before {
  content: "";
  display: block;
  height: 100%;
  background-image: url("/assets/images/crypto-pay-api-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
}

.dev-community {
  background: #232328;
}
.dev-community__body {
  padding: 192px 0 80px;
  border-radius: 0 0 40px 40px;
  background: #FFFFFF;
}
.dev-community__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}
.dev-community__content > p {
  text-align: center;
  color: rgba(17, 17, 17, 0.8);
}
.dev-community__items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.dev-community__items_my-16 {
  margin: 16px 0;
}
.dev-community__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.dev-community__item > img {
  margin-bottom: -8px;
  width: 96px;
}
.dev-community__item > span {
  max-width: 179px;
  font-weight: 500;
  font-size: 20px;
  color: rgba(17, 17, 17, 0.8);
  text-align: center;
}

.footer {
  padding: 80px 0 40px;
  background: #232328;
}
.footer__body {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.footer__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .navigation {
  margin-left: 88px;
}
.footer__down {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

@keyframes show-slide {
  0% {
    transform: translateY(732px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes hidden-slide {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(732px);
  }
}
@keyframes scaleCryptocurrencies {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
@keyframes changeTextColor {
  50% {
    color: rgba(17, 17, 17, 0.8);
  }
}

/*# sourceMappingURL=style.css.map */
